## Instalando a biblioteca PYSpark

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\igor\appdata\local\programs\python\python312\lib\site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\igor\appdata\local\programs\python\python312\lib\site-packages (from pyspark) (0.10.9.7)

In [2]:
!pip install findspark

Requirement already satisfied: findspark in c:\users\igor\appdata\local\programs\python\python312\lib\site-packages (2.0.1)

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[*]').getOrCreate()

In [4]:
df = spark.sql('''select 'Sucesso total, estamos online!' as hello''')
df.show()

+--------------------+
|               hello|
+--------------------+
|Sucesso total, es...|
+--------------------+

In [5]:
# Import spark libraries
from pyspark.sql import Row, DataFrame
from pyspark.sql.types import StringType, StructType, StructField, IntegerType
from pyspark.sql.functions import col, expr, lit, substring, concat, concat_ws, when, coalesce
from pyspark.sql import functions as F # for more sql functions
from functools import reduce

## Data Manipulation using Spark

In [6]:
path = r'D:\Documentos\FIAP - Pos Tech Data Analytics\Aulas\Fase 3\Dados\banklist.csv'
df = spark.read.csv(path, sep= ',', inferSchema=True, header=True)

print('df.count: ', df.count())
print('df.col ct: ', len(df.columns))
print('df.columns: ', df.columns)

df.count:  561
df.col ct:  6
df.columns:  ['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution', 'Closing Date']

## Using SQL in PySpark

In [7]:
df.createOrReplaceTempView('banklist')

df_check = spark.sql('''select `Bank Name`, `City`, `Closing Date` FROM banklist''')
df_check.show(4, truncate=False)

+--------------------------------+-------------+------------+
|Bank Name                       |City         |Closing Date|
+--------------------------------+-------------+------------+
|The First State Bank            |Barboursville|3-Apr-20    |
|Ericson State Bank              |Ericson      |14-Feb-20   |
|City National Bank of New Jersey|Newark       |1-Nov-19    |
|Resolute Bank                   |Maumee       |25-Oct-19   |
+--------------------------------+-------------+------------+
only showing top 4 rows

## DataFrame Basic Operations

In [8]:
df.describe().show()

+-------+--------------------+-------+----+-----------------+---------------------+------------+
|summary|           Bank Name|   City|  ST|             CERT|Acquiring Institution|Closing Date|
+-------+--------------------+-------+----+-----------------+---------------------+------------+
|  count|                 561|    561| 561|              561|                  561|         561|
|   mean|                NULL|   NULL|NULL|31685.68449197861|                 NULL|        NULL|
| stddev|                NULL|   NULL|NULL|16446.65659309965|                 NULL|        NULL|
|    min|1st American Stat...|Acworth|  AL|               91|      1st United Bank|    1-Aug-08|
|    max|               ebank|Wyoming|  WY|            58701|  Your Community Bank|    9-Sep-11|
+-------+--------------------+-------+----+-----------------+---------------------+------------+

In [9]:
df.describe('City', 'ST').show()

+-------+-------+----+
|summary|   City|  ST|
+-------+-------+----+
|  count|    561| 561|
|   mean|   NULL|NULL|
| stddev|   NULL|NULL|
|    min|Acworth|  AL|
|    max|Wyoming|  WY|
+-------+-------+----+

## Count, Columns and Schema

In [10]:
print('df.count: ', df.count())
print('df columns: ', len(df.columns))
print('df.columns: ', df.columns)
print('df dtypes: ', df.dtypes)
print('df schema: ', df.schema)

df.count:  561
df columns:  6
df.columns:  ['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution', 'Closing Date']
df dtypes:  [('Bank Name', 'string'), ('City', 'string'), ('ST', 'string'), ('CERT', 'int'), ('Acquiring Institution', 'string'), ('Closing Date', 'string')]
df schema:  StructType([StructField('Bank Name', StringType(), True), StructField('City', StringType(), True), StructField('ST', StringType(), True), StructField('CERT', IntegerType(), True), StructField('Acquiring Institution', StringType(), True), StructField('Closing Date', StringType(), True)])

In [11]:
df.printSchema()

root
 |-- Bank Name: string (nullable = true)
 |-- City: string (nullable = true)
 |-- ST: string (nullable = true)
 |-- CERT: integer (nullable = true)
 |-- Acquiring Institution: string (nullable = true)
 |-- Closing Date: string (nullable = true)

## Remove Duplicates

In [12]:
df = df.dropDuplicates()
print('df.count: ', df.count())
print('df.columns: ', df.columns)

df.count:  561
df.columns:  ['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution', 'Closing Date']

## Select Specific Columns

In [13]:
df2 = df.select(*['Bank Name', 'City'])
df2.show(2)

+--------------------+--------+
|           Bank Name|    City|
+--------------------+--------+
| First Bank of Idaho| Ketchum|
|Amcore Bank, Nati...|Rockford|
+--------------------+--------+
only showing top 2 rows

## Select Multiple Columns

In [14]:
col_l = list(set(df.columns) - {'CERT', 'ST'})
df2 = df.select(*col_l)
df2.show(5)

+------------+--------------------+---------------------+--------+
|Closing Date|           Bank Name|Acquiring Institution|    City|
+------------+--------------------+---------------------+--------+
|   24-Apr-09| First Bank of Idaho|      U.S. Bank, N.A.| Ketchum|
|   23-Apr-10|Amcore Bank, Nati...|          Harris N.A.|Rockford|
|   11-Sep-09|        Venture Bank| First-Citizens Ba...|   Lacey|
|   31-Jul-09|First State Bank ...|         Herring Bank|   Altus|
|   11-Dec-09|Valley Capital Ba...| Enterprise Bank &...|    Mesa|
+------------+--------------------+---------------------+--------+
only showing top 5 rows

## Rename Columns

In [15]:
df2 = df \
    .withColumnRenamed('Bank Name', 'bank_name') \
    .withColumnRenamed('City', 'city') \
    .withColumnRenamed('Acquiring Institution', 'acq_institution') \
    .withColumnRenamed('Closing Date', 'closing_date') \
    .withColumnRenamed('ST', 'state') \
    .withColumnRenamed('CERT', 'cert')

df2.show()

+--------------------+----------------+-----+-----+--------------------+------------+
|           bank_name|            city|state| cert|     acq_institution|closing_date|
+--------------------+----------------+-----+-----+--------------------+------------+
| First Bank of Idaho|         Ketchum|   ID|34396|     U.S. Bank, N.A.|   24-Apr-09|
|Amcore Bank, Nati...|        Rockford|   IL| 3735|         Harris N.A.|   23-Apr-10|
|        Venture Bank|           Lacey|   WA|22868|First-Citizens Ba...|   11-Sep-09|
|First State Bank ...|           Altus|   OK| 9873|        Herring Bank|   31-Jul-09|
|Valley Capital Ba...|            Mesa|   AZ|58399|Enterprise Bank &...|   11-Dec-09|
|Michigan Heritage...|Farmington Hills|   MI|34369|      Level One Bank|   24-Apr-09|
|Columbia Savings ...|      Cincinnati|   OH|32284|United Fidelity B...|   23-May-14|
|       Fidelity Bank|        Dearborn|   MI|33883|The Huntington Na...|   30-Mar-12|
|The Park Avenue Bank|        Valdosta|   GA|19797|  Bank of the Ozarks|   29-Apr-11|
|Western Commercia...|  Woodland Hills|   CA|58087|First California ...|    5-Nov-10|
|        Syringa Bank|           Boise|   ID|34296|        Sunwest Bank|   31-Jan-14|
|Republic Federal ...|           Miami|   FL|22846|     1st United Bank|   11-Dec-09|
|Westside Communit...|University Place|   WA|33997|        Sunwest Bank|   11-Jan-13|
|   First United Bank|           Crete|   IL|20685|Old Plank Trail C...|   28-Sep-12|
|HarVest Bank of M...|    Gaithersburg|   MD|57766|            Sonabank|   27-Apr-12|
|            BankEast|       Knoxville|   TN|19869|     U.S. Bank, N.A.|   27-Jan-12|
|    Polk County Bank|        Johnston|   IA|14194| Grinnell State Bank|   18-Nov-11|
|Colorado Capital ...|     Castle Rock|   CO|34522|First-Citizens Ba...|    8-Jul-11|
|         Access Bank|        Champlin|   MN|16476|           PrinsBank|    7-May-10|
|Pacific National ...|   San Francisco|   CA|30006|      U.S. Bank N.A.|   30-Oct-09|
+--------------------+----------------+-----+-----+--------------------+------------+
only showing top 20 rows

## Add Columns

In [16]:
df2 = df.withColumn('state', col('ST'))
df2.show(5)

+--------------------+--------+---+-----+---------------------+------------+-----+
|           Bank Name|    City| ST| CERT|Acquiring Institution|Closing Date|state|
+--------------------+--------+---+-----+---------------------+------------+-----+
| First Bank of Idaho| Ketchum| ID|34396|      U.S. Bank, N.A.|   24-Apr-09|   ID|
|Amcore Bank, Nati...|Rockford| IL| 3735|          Harris N.A.|   23-Apr-10|   IL|
|        Venture Bank|   Lacey| WA|22868| First-Citizens Ba...|   11-Sep-09|   WA|
|First State Bank ...|   Altus| OK| 9873|         Herring Bank|   31-Jul-09|   OK|
|Valley Capital Ba...|    Mesa| AZ|58399| Enterprise Bank &...|   11-Dec-09|   AZ|
+--------------------+--------+---+-----+---------------------+------------+-----+
only showing top 5 rows

## Add constant column

In [17]:
df2 = df2.withColumn('country', lit('US'))
df2.show()

+--------------------+----------------+---+-----+---------------------+------------+-----+-------+
|           Bank Name|            City| ST| CERT|Acquiring Institution|Closing Date|state|country|
+--------------------+----------------+---+-----+---------------------+------------+-----+-------+
| First Bank of Idaho|         Ketchum| ID|34396|      U.S. Bank, N.A.|   24-Apr-09|   ID|     US|
|Amcore Bank, Nati...|        Rockford| IL| 3735|          Harris N.A.|   23-Apr-10|   IL|     US|
|        Venture Bank|           Lacey| WA|22868| First-Citizens Ba...|   11-Sep-09|   WA|     US|
|First State Bank ...|           Altus| OK| 9873|         Herring Bank|   31-Jul-09|   OK|     US|
|Valley Capital Ba...|            Mesa| AZ|58399| Enterprise Bank &...|   11-Dec-09|   AZ|     US|
|Michigan Heritage...|Farmington Hills| MI|34369|       Level One Bank|   24-Apr-09|   MI|     US|
|Columbia Savings ...|      Cincinnati| OH|32284| United Fidelity B...|   23-May-14|   OH|     US|
|       Fidelity Bank|        Dearborn| MI|33883| The Huntington Na...|   30-Mar-12|   MI|     US|
|The Park Avenue Bank|        Valdosta| GA|19797|   Bank of the Ozarks|   29-Apr-11|   GA|     US|
|Western Commercia...|  Woodland Hills| CA|58087| First California ...|    5-Nov-10|   CA|     US|
|        Syringa Bank|           Boise| ID|34296|         Sunwest Bank|   31-Jan-14|   ID|     US|
|Republic Federal ...|           Miami| FL|22846|      1st United Bank|   11-Dec-09|   FL|     US|
|Westside Communit...|University Place| WA|33997|         Sunwest Bank|   11-Jan-13|   WA|     US|
|   First United Bank|           Crete| IL|20685| Old Plank Trail C...|   28-Sep-12|   IL|     US|
|HarVest Bank of M...|    Gaithersburg| MD|57766|             Sonabank|   27-Apr-12|   MD|     US|
|            BankEast|       Knoxville| TN|19869|      U.S. Bank, N.A.|   27-Jan-12|   TN|     US|
|    Polk County Bank|        Johnston| IA|14194|  Grinnell State Bank|   18-Nov-11|   IA|     US|
|Colorado Capital ...|     Castle Rock| CO|34522| First-Citizens Ba...|    8-Jul-11|   CO|     US|
|         Access Bank|        Champlin| MN|16476|            PrinsBank|    7-May-10|   MN|     US|
|Pacific National ...|   San Francisco| CA|30006|       U.S. Bank N.A.|   30-Oct-09|   CA|     US|
+--------------------+----------------+---+-----+---------------------+------------+-----+-------+
only showing top 20 rows

## Drop columns

In [18]:
df2 = df2.drop('CERT')
df2.show(5)

+--------------------+--------+---+---------------------+------------+-----+-------+
|           Bank Name|    City| ST|Acquiring Institution|Closing Date|state|country|
+--------------------+--------+---+---------------------+------------+-----+-------+
| First Bank of Idaho| Ketchum| ID|      U.S. Bank, N.A.|   24-Apr-09|   ID|     US|
|Amcore Bank, Nati...|Rockford| IL|          Harris N.A.|   23-Apr-10|   IL|     US|
|        Venture Bank|   Lacey| WA| First-Citizens Ba...|   11-Sep-09|   WA|     US|
|First State Bank ...|   Altus| OK|         Herring Bank|   31-Jul-09|   OK|     US|
|Valley Capital Ba...|    Mesa| AZ| Enterprise Bank &...|   11-Dec-09|   AZ|     US|
+--------------------+--------+---+---------------------+------------+-----+-------+
only showing top 5 rows

## Drop multiple columns

In [19]:
df2 = df2.drop(*['CERT', 'ST'])
df2.show(5)

+--------------------+--------+---------------------+------------+-----+-------+
|           Bank Name|    City|Acquiring Institution|Closing Date|state|country|
+--------------------+--------+---------------------+------------+-----+-------+
| First Bank of Idaho| Ketchum|      U.S. Bank, N.A.|   24-Apr-09|   ID|     US|
|Amcore Bank, Nati...|Rockford|          Harris N.A.|   23-Apr-10|   IL|     US|
|        Venture Bank|   Lacey| First-Citizens Ba...|   11-Sep-09|   WA|     US|
|First State Bank ...|   Altus|         Herring Bank|   31-Jul-09|   OK|     US|
|Valley Capital Ba...|    Mesa| Enterprise Bank &...|   11-Dec-09|   AZ|     US|
+--------------------+--------+---------------------+------------+-----+-------+
only showing top 5 rows

In [20]:
df2 = reduce(DataFrame.drop, ['CERT', 'ST'], df)
df2.show(5)

+--------------------+--------+---------------------+------------+
|           Bank Name|    City|Acquiring Institution|Closing Date|
+--------------------+--------+---------------------+------------+
| First Bank of Idaho| Ketchum|      U.S. Bank, N.A.|   24-Apr-09|
|Amcore Bank, Nati...|Rockford|          Harris N.A.|   23-Apr-10|
|        Venture Bank|   Lacey| First-Citizens Ba...|   11-Sep-09|
|First State Bank ...|   Altus|         Herring Bank|   31-Jul-09|
|Valley Capital Ba...|    Mesa| Enterprise Bank &...|   11-Dec-09|
+--------------------+--------+---------------------+------------+
only showing top 5 rows

## Filter Data

In [21]:
# equal to values
df2 = df.where(df['ST'] == 'NE')

# between values
df3 = df.where(df['CERT'].between('1000', '2000'))

# is inside multiple values
df4 = df.where(df['ST'].isin('NE', 'IL'))

print('df.count: ', df.count())
print('df2.count: ', df2.count())
print('df3.count: ', df3.count())
print('df4.count: ', df4.count())

df.count:  561
df2.count:  4
df3.count:  9
df4.count:  73

## Filter data using logical operators

In [22]:
df2 = df.where((df['ST'] == 'NE') & (df['City'] == 'Ericson'))
df2.show()

+------------------+-------+---+-----+---------------------+------------+
|         Bank Name|   City| ST| CERT|Acquiring Institution|Closing Date|
+------------------+-------+---+-----+---------------------+------------+
|Ericson State Bank|Ericson| NE|18265| Farmers and Merch...|   14-Feb-20|
+------------------+-------+---+-----+---------------------+------------+

## Replace values in DataFrame

In [23]:
# pre replace
df.show(2)
# pos replace
print('replace 7 in the above dataframe with 17 at all instances')
df.na.replace(7, 17).show(2)

+--------------------+--------+---+-----+---------------------+------------+
|           Bank Name|    City| ST| CERT|Acquiring Institution|Closing Date|
+--------------------+--------+---+-----+---------------------+------------+
| First Bank of Idaho| Ketchum| ID|34396|      U.S. Bank, N.A.|   24-Apr-09|
|Amcore Bank, Nati...|Rockford| IL| 3735|          Harris N.A.|   23-Apr-10|
+--------------------+--------+---+-----+---------------------+------------+
only showing top 2 rows

replace 7 in the above dataframe with 17 at all instances
+--------------------+--------+---+-----+---------------------+------------+
|           Bank Name|    City| ST| CERT|Acquiring Institution|Closing Date|
+--------------------+--------+---+-----+---------------------+------------+
| First Bank of Idaho| Ketchum| ID|34396|      U.S. Bank, N.A.|   24-Apr-09|
|Amcore Bank, Nati...|Rockford| IL| 3735|          Harris N.A.|   23-Apr-10|
+--------------------+--------+---+-----+---------------------+------------+
only showing top 2 rows

## Mão na massa

In [24]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession .builder.appName("Our First Spark Example").getOrCreate()

spark

'sudo' n�o � reconhecido como um comando interno
ou externo, um programa oper�vel ou um arquivo em lotes.
O sistema n�o pode encontrar o caminho especificado.
'wget' n�o � reconhecido como um comando interno
ou externo, um programa oper�vel ou um arquivo em lotes.
tar: Error opening archive: Failed to open 'spark-3.2.1-bin-hadoop3.2.tgz'

Requirement already satisfied: pyspark in c:\users\igor\appdata\local\programs\python\python312\lib\site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\igor\appdata\local\programs\python\python312\lib\site-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: py4j in c:\users\igor\appdata\local\programs\python\python312\lib\site-packages (0.10.9.7)

In [25]:
import requests
path = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv"
req = requests.get(path)
url_content = req.content

In [26]:
csv_file_name = 'owid-covid-data.csv'
csv_file = open(csv_file_name, 'wb')

csv_file.write(url_content)
csv_file.close()

df = spark.read.csv(csv_file_name, header=True, inferSchema=True)

In [27]:
#Viewing the dataframe schema 
df.printSchema()

root
 |-- iso_code: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- location: string (nullable = true)
 |-- date: date (nullable = true)
 |-- total_cases: integer (nullable = true)
 |-- new_cases: integer (nullable = true)
 |-- new_cases_smoothed: double (nullable = true)
 |-- total_deaths: integer (nullable = true)
 |-- new_deaths: integer (nullable = true)
 |-- new_deaths_smoothed: double (nullable = true)
 |-- total_cases_per_million: double (nullable = true)
 |-- new_cases_per_million: double (nullable = true)
 |-- new_cases_smoothed_per_million: double (nullable = true)
 |-- total_deaths_per_million: double (nullable = true)
 |-- new_deaths_per_million: double (nullable = true)
 |-- new_deaths_smoothed_per_million: double (nullable = true)
 |-- reproduction_rate: double (nullable = true)
 |-- icu_patients: integer (nullable = true)
 |-- icu_patients_per_million: double (nullable = true)
 |-- hosp_patients: integer (nullable = true)
 |-- hosp_patients_per_million: double (nullable = true)
 |-- weekly_icu_admissions: integer (nullable = true)
 |-- weekly_icu_admissions_per_million: double (nullable = true)
 |-- weekly_hosp_admissions: integer (nullable = true)
 |-- weekly_hosp_admissions_per_million: double (nullable = true)
 |-- total_tests: long (nullable = true)
 |-- new_tests: integer (nullable = true)
 |-- total_tests_per_thousand: double (nullable = true)
 |-- new_tests_per_thousand: double (nullable = true)
 |-- new_tests_smoothed: double (nullable = true)
 |-- new_tests_smoothed_per_thousand: double (nullable = true)
 |-- positive_rate: double (nullable = true)
 |-- tests_per_case: double (nullable = true)
 |-- tests_units: string (nullable = true)
 |-- total_vaccinations: long (nullable = true)
 |-- people_vaccinated: long (nullable = true)
 |-- people_fully_vaccinated: long (nullable = true)
 |-- total_boosters: long (nullable = true)
 |-- new_vaccinations: integer (nullable = true)
 |-- new_vaccinations_smoothed: double (nullable = true)
 |-- total_vaccinations_per_hundred: double (nullable = true)
 |-- people_vaccinated_per_hundred: double (nullable = true)
 |-- people_fully_vaccinated_per_hundred: double (nullable = true)
 |-- total_boosters_per_hundred: double (nullable = true)
 |-- new_vaccinations_smoothed_per_million: double (nullable = true)
 |-- new_people_vaccinated_smoothed: double (nullable = true)
 |-- new_people_vaccinated_smoothed_per_hundred: double (nullable = true)
 |-- stringency_index: double (nullable = true)
 |-- population_density: double (nullable = true)
 |-- median_age: double (nullable = true)
 |-- aged_65_older: double (nullable = true)
 |-- aged_70_older: double (nullable = true)
 |-- gdp_per_capita: double (nullable = true)
 |-- extreme_poverty: double (nullable = true)
 |-- cardiovasc_death_rate: double (nullable = true)
 |-- diabetes_prevalence: double (nullable = true)
 |-- female_smokers: double (nullable = true)
 |-- male_smokers: double (nullable = true)
 |-- handwashing_facilities: double (nullable = true)
 |-- hospital_beds_per_thousand: double (nullable = true)
 |-- life_expectancy: double (nullable = true)
 |-- human_development_index: double (nullable = true)
 |-- population: long (nullable = true)
 |-- excess_mortality_cumulative_absolute: double (nullable = true)
 |-- excess_mortality_cumulative: double (nullable = true)
 |-- excess_mortality: double (nullable = true)
 |-- excess_mortality_cumulative_per_million: double (nullable = true)

In [28]:
#Converting a date column
df.select(F.to_date(df.date).alias('date'))

DataFrame[date: date]

In [29]:
#Summary stats
df.describe().show()

+-------+--------+-------------+-----------+------------------+------------------+------------------+-----------------+------------------+-------------------+-----------------------+---------------------+------------------------------+------------------------+----------------------+-------------------------------+------------------+------------------+------------------------+------------------+-------------------------+---------------------+---------------------------------+----------------------+----------------------------------+-------------------+------------------+------------------------+----------------------+------------------+-------------------------------+-------------------+-----------------+-------------+--------------------+-------------------+-----------------------+--------------------+------------------+-------------------------+------------------------------+-----------------------------+-----------------------------------+--------------------------+-------------------------------------+------------------------------+------------------------------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+---------------------+-------------------+------------------+------------------+----------------------+--------------------------+-----------------+-----------------------+-------------------+------------------------------------+---------------------------+------------------+---------------------------------------+
|summary|iso_code|    continent|   location|       total_cases|         new_cases|new_cases_smoothed|     total_deaths|        new_deaths|new_deaths_smoothed|total_cases_per_million|new_cases_per_million|new_cases_smoothed_per_million|total_deaths_per_million|new_deaths_per_million|new_deaths_smoothed_per_million| reproduction_rate|      icu_patients|icu_patients_per_million|     hosp_patients|hosp_patients_per_million|weekly_icu_admissions|weekly_icu_admissions_per_million|weekly_hosp_admissions|weekly_hosp_admissions_per_million|        total_tests|         new_tests|total_tests_per_thousand|new_tests_per_thousand|new_tests_smoothed|new_tests_smoothed_per_thousand|      positive_rate|   tests_per_case|  tests_units|  total_vaccinations|  people_vaccinated|people_fully_vaccinated|      total_boosters|  new_vaccinations|new_vaccinations_smoothed|total_vaccinations_per_hundred|people_vaccinated_per_hundred|people_fully_vaccinated_per_hundred|total_boosters_per_hundred|new_vaccinations_smoothed_per_million|new_people_vaccinated_smoothed|new_people_vaccinated_smoothed_per_hundred|  stringency_index|population_density|       median_age|     aged_65_older|    aged_70_older|    gdp_per_capita|  extreme_poverty|cardiovasc_death_rate|diabetes_prevalence|    female_smokers|      male_smokers|handwashing_facilities|hospital_beds_per_thousand|  life_expectancy|human_development_index|         population|excess_mortality_cumulative_absolute|excess_mortality_cumulative|  excess_mortality|excess_mortality_cumulative_per_million|
+-------+--------+-------------+-----------+------------------+------------------+------------------+-----------------+------------------+-------------------+-----------------------+---------------------+------------------------------+------------------------+----------------------+-------------------------------+------------------+------------------+------------------------+------------------+-------------------------+---------------------+---------------------------------+----------------------+----------------------------------+-------------------+------------------+------------------------+----------------------+------------------+-------------------------------+-------------------+-----------------+-------------+--------------------+-------------------+-----------------------+--------------------+------------------+-------------------------+------------------------------+-----------------------------+-----------------------------------+--------------------------+-------------------------------------+------------------------------+------------------------------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+---------------------+-------------------+------------------+------------------+----------------------+--------------------------+-----------------+-----------------------+-------------------+------------------------------------+---------------------------+------------------+---------------------------------------+
|  count|  424794|       398446|     424794|            406700|            405094|            403869|           406700|            405544|             404319|                 406700|               405094|                        403869|                  406700|                405544|                         404319|            184817|             39096|                   39096|             40636|                    40636|                10979|                            10979|                 24483|                             24483|              79387|             75403|                   79387|                 75403|            103965|                         103965|              95927|            94348|       106788|               85322|              81038|                  77968|               53506|             70884|                   194905|                         85322|                        81038|                              77968|                     53506|                               194905|                        192067|                                    192067|            196190|            357547|           331942|            320633|           328622|            325613|           210275|               326186|             343078|            245158|            241838|                160411|                    288318|           387116|                 316518|             424794|                               13411|                      13411|             13411|                                  13411|
|   mean|    NULL|         NULL|       NULL| 7344549.582537496|8116.0502080998485| 8140.305241080657|81264.35137693632| 72.72574862407039|  72.94060546251794|     111316.43424396389|   123.83565750171554|            124.19177725945558|       833.5592759773864|    0.7744795139368366|             0.7767217469374398|0.9114953710968147| 661.2990331491712|      15.664122672396157|3913.3094054532926|       126.04345555664905|   318.26322980234994|                9.683414700792415|     4294.129600130703|                 82.66362496426089|2.110457393801252E7| 67285.41211888121|       924.2547520374869|    3.2724606448019284| 142178.3636993219|             2.8263640648295065|0.09807895587268832| 2403.63280726672|         NULL|  5.58673699931905E8|2.474300752949974E8|   2.2743930591143802E8|1.4963424900990543E8| 740771.4771457593|        284056.0875606064|            124.20314866036951|            53.47820738419036|                 48.654953955469075|         36.28067431689909|                   1852.6358533644595|            106131.44537062588|                       0.07472116501011986| 42.87756032417615| 394.3984598947914|30.45776882708359| 8.684750290830621|5.487149947355617|18906.725906216285|13.92372702413547|   264.63117022188777|   8.55589215863328| 10.77322167744781| 33.09930507199225|    50.649019518608064|        3.1070764225613097|73.70286795172292|     0.7221916920995739|1.527248538718673E8|                   56046.46266273955|          9.765991350384017|10.924583550816493|                     1772.6189635373946|
| stddev|    NULL|         NULL|       NULL|4.46445028847367E7|231094.36491538855| 87152.41200063023|440756.8499430467|1376.8108640185246|  516.7773345476439|      161416.7943190183|    1512.700244332592|             560.9520284602901|      1131.8827873556486|     7.046239768529086|             2.5684194923286188|0.3999249955670582|2140.1136324660615|      22.788715594624534| 9847.897084552491|        151.1719327996126|    514.6350458276712|                13.57840924486211|    10922.279673193088|                 88.40021972699736|8.409869431109463E7|247734.00456983913|      2195.4284900423627|      9.03382566842094|1138214.6555840871|              7.308224750925726|0.11609736423215998|33443.66067673282|         NULL|1.8357917746155667E9|7.981030767356293E8|    7.379275379617655E8| 4.343978216074927E8|3184911.7367047723|       1922950.0288453684|             85.10945798774821|           29.387803999719743|                 29.049386284189797|        30.232734927856406|                    3118.481659109488|             786909.5350046217|                       0.17640592813809267|24.870492159098106|1787.3891504075564|9.094030622372168|6.0935042255012375| 4.13662657704578| 19832.09347175913|20.07236133950192|   120.75148898163522|  4.934485142035261|10.761141424737987|13.855311597359572|     31.90352227384774|        2.5491208023496856|7.387681589088204|     0.1492349091688888|6.993575023444093E8|                  156869.08630706544|         12.039680815157528| 24.56051834516591|                     1991.8693802713856|
|    min|     ABW|       Africa|Afghanistan|                 0|                 0|               0.0|                0|                 0|                0.0|                    0.0|                  0.0|                           0.0|                     0.0|                   0.0|                            0.0|             -0.07|                 0|                     0.0|                 0|                      0.0|                    0|                              0.0|                     0|                               0.0|                  0|                 1|                     0.0|                   0.0|               0.0|                            0.0|                0.0|              1.0|people tested|                   0|                  0|                      1|                   1|                 0|                      0.0|                           0.0|                          0.0|                                0.0|                       0.0|                                  0.0|                           0.0|                                       0.0|               0.0|              0.14|             15.1|              1.14|             0.53|            661.24|              0.1|                79.37|               0.99|               0.1|               7.7|                  1.19|                       0.1|            53.28|                   0.39|                 47|                            -37726.1|                     -44.23|            -95.92|                               -2936.45|
|    max|     ZWE|South America|   Zimbabwe|         775730930|          44236227|         6319461.0|          7054878|            103719|            14817.0|              752614.75|            242321.86|                      34623.04|                 6524.73|                893.24|                         127.62|              5.87|             28891|                  180.68|            154497|                  1526.85|                 4838|                           224.98|                153977|                            717.08|         9214000000|          35855632|                32925.83|                531.06|       1.4769984E7|                          147.6|                1.0|        1023631.9|units unclear|         13578755877|         5631263642|             5177942890|          2817362992|          49673198|              4.3691814E7|                        410.23|                       129.07|                             126.89|                    150.47|                             117113.0|                   2.1071266E7|                                     11.71|             100.0|          20546.77|             48.2|             27.05|            18.49|          116935.6|             77.6|               724.42|              30.53|              44.0|              78.1|                 100.0|                      13.8|            86.75|                   0.96|         7975105024|                           1349776.4|                      78.08|            378.22|                               10293.52|
+-------+--------+-------------+-----------+------------------+------------------+------------------+-----------------+------------------+-------------------+-----------------------+---------------------+------------------------------+------------------------+----------------------+-------------------------------+------------------+------------------+------------------------+------------------+-------------------------+---------------------+---------------------------------+----------------------+----------------------------------+-------------------+------------------+------------------------+----------------------+------------------+-------------------------------+-------------------+-----------------+-------------+--------------------+-------------------+-----------------------+--------------------+------------------+-------------------------+------------------------------+-----------------------------+-----------------------------------+--------------------------+-------------------------------------+------------------------------+------------------------------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+---------------------+-------------------+------------------+------------------+----------------------+--------------------------+-----------------+-----------------------+-------------------+------------------------------------+---------------------------+------------------+---------------------------------------+

In [30]:
#Simple Group by Function
df.groupBy("location").sum("new_cases").orderBy(F.desc("sum(new_cases)")).show(truncate=False)

+-----------------------------+--------------+
|location                     |sum(new_cases)|
+-----------------------------+--------------+
|World                        |775800417     |
|High-income countries        |428935387     |
|Asia                         |301554088     |
|Europe                       |252798408     |
|Upper-middle-income countries|251736497     |
|European Union (27)          |185732052     |
|North America                |124485384     |
|United States                |103436829     |
|China                        |99369029      |
|Lower-middle-income countries|92013076      |
|South America                |68820742      |
|India                        |45041192      |
|France                       |38997490      |
|Germany                      |38437756      |
|Brazil                       |37511921      |
|South Korea                  |34571873      |
|Japan                        |33803572      |
|Italy                        |26727644      |
|United Kingdom               |24964791      |
|Russia                       |24254803      |
+-----------------------------+--------------+
only showing top 20 rows