In [37]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[*]').getOrCreate()

# Consultas e seleções

In [38]:
df = spark.sql('''select 'ok' as Status''')
df.show()

+------+
|Status|
+------+
|    ok|
+------+

# Importing Data

In [39]:
df = spark.read.csv(r'Dados\cereal.csv', sep=',', inferSchema=True, header=True)
df.show()

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|           100% Bran|  N|   C|      70|      4|  1|   130| 10.0|  5.0|     6|   280|      25|    3|   1.0|0.33|68.402973|
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|
|Apple Cinnamon Ch...|  G|   C|     110|      2|  2|   180|  1.5| 10.5|    10|    70|      25|    1|   1.0|0.75|29.509541|
|         Apple Jacks|  K|   C|     110|      2|  0|   125|  1.0| 11.0|    14|    30|      25|    2|   1.0| 1.0|33.174094|
|             Basic 4|  G|   C|     130|      3|  2|   210|  2.0| 18.0|     8|   100|      25|    3|  1.33|0.75|37.038562|
|           Bran Chex|  R|   C|      90|      2|  1|   200|  4.0| 15.0|     6|   125|      25|    1|   1.0|0.67|49.120253|
|         Bran Flakes|  P|   C|      90|      3|  0|   210|  5.0| 13.0|     5|   190|      25|    3|   1.0|0.67|53.313813|
|        Cap'n'Crunch|  Q|   C|     120|      1|  2|   220|  0.0| 12.0|    12|    35|      25|    2|   1.0|0.75|18.042851|
|            Cheerios|  G|   C|     110|      6|  2|   290|  2.0| 17.0|     1|   105|      25|    1|   1.0|1.25|50.764999|
|Cinnamon Toast Cr...|  G|   C|     120|      1|  3|   210|  0.0| 13.0|     9|    45|      25|    2|   1.0|0.75|19.823573|
|            Clusters|  G|   C|     110|      3|  2|   140|  2.0| 13.0|     7|   105|      25|    3|   1.0| 0.5|40.400208|
|         Cocoa Puffs|  G|   C|     110|      1|  1|   180|  0.0| 12.0|    13|    55|      25|    2|   1.0| 1.0|22.736446|
|           Corn Chex|  R|   C|     110|      2|  0|   280|  0.0| 22.0|     3|    25|      25|    1|   1.0| 1.0|41.445019|
|         Corn Flakes|  K|   C|     100|      2|  0|   290|  1.0| 21.0|     2|    35|      25|    1|   1.0| 1.0|45.863324|
|           Corn Pops|  K|   C|     110|      1|  0|    90|  1.0| 13.0|    12|    20|      25|    2|   1.0| 1.0|35.782791|
|       Count Chocula|  G|   C|     110|      1|  1|   180|  0.0| 12.0|    13|    65|      25|    2|   1.0| 1.0|22.396513|
|  Cracklin' Oat Bran|  K|   C|     110|      3|  3|   140|  4.0| 10.0|     7|   160|      25|    3|   1.0| 0.5|40.448772|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 20 rows

 # Manipulation Data with Spark SQL

In [40]:
df.createOrReplaceTempView('cereal')

In [41]:
cereal = spark.sql('''SELECT * FROM cereal WHERE type = 'C' ''')
cereal.show()

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|           100% Bran|  N|   C|      70|      4|  1|   130| 10.0|  5.0|     6|   280|      25|    3|   1.0|0.33|68.402973|
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|
|Apple Cinnamon Ch...|  G|   C|     110|      2|  2|   180|  1.5| 10.5|    10|    70|      25|    1|   1.0|0.75|29.509541|
|         Apple Jacks|  K|   C|     110|      2|  0|   125|  1.0| 11.0|    14|    30|      25|    2|   1.0| 1.0|33.174094|
|             Basic 4|  G|   C|     130|      3|  2|   210|  2.0| 18.0|     8|   100|      25|    3|  1.33|0.75|37.038562|
|           Bran Chex|  R|   C|      90|      2|  1|   200|  4.0| 15.0|     6|   125|      25|    1|   1.0|0.67|49.120253|
|         Bran Flakes|  P|   C|      90|      3|  0|   210|  5.0| 13.0|     5|   190|      25|    3|   1.0|0.67|53.313813|
|        Cap'n'Crunch|  Q|   C|     120|      1|  2|   220|  0.0| 12.0|    12|    35|      25|    2|   1.0|0.75|18.042851|
|            Cheerios|  G|   C|     110|      6|  2|   290|  2.0| 17.0|     1|   105|      25|    1|   1.0|1.25|50.764999|
|Cinnamon Toast Cr...|  G|   C|     120|      1|  3|   210|  0.0| 13.0|     9|    45|      25|    2|   1.0|0.75|19.823573|
|            Clusters|  G|   C|     110|      3|  2|   140|  2.0| 13.0|     7|   105|      25|    3|   1.0| 0.5|40.400208|
|         Cocoa Puffs|  G|   C|     110|      1|  1|   180|  0.0| 12.0|    13|    55|      25|    2|   1.0| 1.0|22.736446|
|           Corn Chex|  R|   C|     110|      2|  0|   280|  0.0| 22.0|     3|    25|      25|    1|   1.0| 1.0|41.445019|
|         Corn Flakes|  K|   C|     100|      2|  0|   290|  1.0| 21.0|     2|    35|      25|    1|   1.0| 1.0|45.863324|
|           Corn Pops|  K|   C|     110|      1|  0|    90|  1.0| 13.0|    12|    20|      25|    2|   1.0| 1.0|35.782791|
|       Count Chocula|  G|   C|     110|      1|  1|   180|  0.0| 12.0|    13|    65|      25|    2|   1.0| 1.0|22.396513|
|  Cracklin' Oat Bran|  K|   C|     110|      3|  3|   140|  4.0| 10.0|     7|   160|      25|    3|   1.0| 0.5|40.448772|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 20 rows

# Select Distinct no Spark SQL

In [42]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- mfr: string (nullable = true)
 |-- type: string (nullable = true)
 |-- calories: integer (nullable = true)
 |-- protein: integer (nullable = true)
 |-- fat: integer (nullable = true)
 |-- sodium: integer (nullable = true)
 |-- fiber: double (nullable = true)
 |-- carbo: double (nullable = true)
 |-- sugars: integer (nullable = true)
 |-- potass: integer (nullable = true)
 |-- vitamins: integer (nullable = true)
 |-- shelf: integer (nullable = true)
 |-- weight: double (nullable = true)
 |-- cups: double (nullable = true)
 |-- rating: double (nullable = true)

In [43]:
df.createOrReplaceTempView('cereal')

In [44]:
cereal = spark.sql(''' SELECT DISTINCT type, mfr FROM cereal ''')
cereal.show()

+----+---+
|type|mfr|
+----+---+
|   C|  P|
|   C|  Q|
|   C|  N|
|   H|  Q|
|   C|  R|
|   H|  N|
|   C|  G|
|   H|  A|
|   C|  K|
+----+---+

# Where no Spark SQL

In [45]:
cereal = spark.sql(''' SELECT * FROM cereal WHERE mfr = 'K' AND calories >= 100 ''')
cereal.count()

19

# Group By

In [46]:
cereal = spark.sql(''' 
                   SELECT 
                        mfr,
                        type,
                        COUNT(*) AS total,
                        SUM(calories) AS total_calories
                   FROM
                        cereal
                   GROUP BY
                        mfr,
                        type ''')
cereal.show()

+---+----+-----+--------------+
|mfr|type|total|total_calories|
+---+----+-----+--------------+
|  A|   H|    1|           100|
|  P|   C|    9|           980|
|  K|   C|   23|          2500|
|  G|   C|   22|          2450|
|  Q|   C|    7|           660|
|  R|   C|    8|           920|
|  Q|   H|    1|           100|
|  N|   H|    1|           100|
|  N|   C|    5|           420|
+---+----+-----+--------------+

# Case When

In [47]:
cereal = spark.sql(''' SELECT DISTINCT type FROM cereal ''')
cereal.show()

+----+
|type|
+----+
|   C|
|   H|
+----+

In [48]:
cereal = spark.sql(''' 
                    SELECT
                        mfr,
                        type,
                        (CASE 
                            WHEN type = 'C' THEN 'A'
                            WHEN type = 'H' THEN 'B'
                            ELSE 'D' END) AS type_new,
                        COUNT(*) AS total,                   
                        SUM(calories) AS total_calories
                    FROM
                        cereal
                    GROUP BY
                        mfr,
                        type
                    ''')

cereal.show()

+---+----+--------+-----+--------------+
|mfr|type|type_new|total|total_calories|
+---+----+--------+-----+--------------+
|  A|   H|       B|    1|           100|
|  P|   C|       A|    9|           980|
|  K|   C|       A|   23|          2500|
|  G|   C|       A|   22|          2450|
|  Q|   C|       A|    7|           660|
|  R|   C|       A|    8|           920|
|  Q|   H|       B|    1|           100|
|  N|   H|       B|    1|           100|
|  N|   C|       A|    5|           420|
+---+----+--------+-----+--------------+

# Consultas avançadas em SQL usando PySpark

In [49]:
df.show(5)

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|           100% Bran|  N|   C|      70|      4|  1|   130| 10.0|  5.0|     6|   280|      25|    3|   1.0|0.33|68.402973|
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 5 rows

In [50]:
cereal = spark.sql('''
                    SELECT
                        mfr,
                        type,
                   
                        SUM(calories) AS total_calories,
                        MIN(calories) AS min_calories,
                        MAX(calories) AS max_calories,
                        CAST(AVG(calories) AS DECIMAL(10, 2)) AS mean_calories,
                   
                        SUM(carbo) AS total_carbo,
                        MIN(carbo) AS min_carbo,
                        MAX(carbo) AS max_carbo,
                        CAST(AVG(carbo) AS DECIMAL(10, 2)) AS mean_carbo,

                        SUM(vitamins) AS total_vitamins,
                        MIN(vitamins) AS min_vitamins,
                        MAX(vitamins) AS max_vitamins,
                        CAST(AVG(vitamins) AS DECIMAL(10, 2)) AS mean_vitamins,

                        COUNT(DISTINCT name) AS dist_qtd_name,
                        COUNT(name) AS qtd_name
                   FROM cereal
                   GROUP BY mfr, type
                   ORDER BY mfr, type
                ''')

cereal.show()

+---+----+--------------+------------+------------+-------------+-----------+---------+---------+----------+--------------+------------+------------+-------------+-------------+--------+
|mfr|type|total_calories|min_calories|max_calories|mean_calories|total_carbo|min_carbo|max_carbo|mean_carbo|total_vitamins|min_vitamins|max_vitamins|mean_vitamins|dist_qtd_name|qtd_name|
+---+----+--------------+------------+------------+-------------+-----------+---------+---------+----------+--------------+------------+------------+-------------+-------------+--------+
|  A|   H|           100|         100|         100|       100.00|       16.0|     16.0|     16.0|     16.00|            25|          25|          25|        25.00|            1|       1|
|  G|   C|          2450|         100|         140|       111.36|      324.0|     10.5|     21.0|     14.73|           775|          25|         100|        35.23|           22|      22|
|  K|   C|          2500|          50|         160|       108.70|      348.0|      7.0|     22.0|     15.13|           800|          25|         100|        34.78|           23|      23|
|  N|   C|           420|          70|          90|        84.00|       75.0|      5.0|     20.0|     15.00|            50|           0|          25|        10.00|            5|       5|
|  N|   H|           100|         100|         100|       100.00|       21.0|     21.0|     21.0|     21.00|             0|           0|           0|         0.00|            1|       1|
|  P|   C|           980|          90|         120|       108.89|      119.0|     11.0|     17.0|     13.22|           225|          25|          25|        25.00|            9|       9|
|  Q|   C|           660|          50|         120|        94.29|       81.0|      8.0|     14.0|     11.57|           100|           0|          25|        14.29|            7|       7|
|  Q|   H|           100|         100|         100|       100.00|       -1.0|     -1.0|     -1.0|     -1.00|             0|           0|           0|         0.00|            1|       1|
|  R|   C|           920|          90|         150|       115.00|      141.0|     14.0|     23.0|     17.63|           200|          25|          25|        25.00|            8|       8|
+---+----+--------------+------------+------------+-------------+-----------+---------+---------+----------+--------------+------------+------------+-------------+-------------+--------+

In [51]:
cereal = spark.sql('''
                    SELECT
                        mfr,
                        type,
                        (CASE
                            WHEN mfr = 'A' THEN 'Abacaxi'
                            WHEN mfr = 'G' THEN 'Goiaba'
                            WHEN mfr = 'K' THEN 'Kiwi'
                            WHEN mfr = 'N' THEN 'Morango'
                            WHEN mfr = 'P' THEN 'Pera'
                            WHEN mfr = 'Q' THEN 'Banana'
                            WHEN mfr = 'R' THEN 'Maca'
                            ELSE 'NA'
                        END) AS type_fruit,
                   
                        SUM(calories) AS total_calories,
                        MIN(calories) AS min_calories,
                        MAX(calories) AS max_calories,
                        CAST(AVG(calories) AS DECIMAL(10, 2)) AS mean_calories,
                   
                        SUM(carbo) AS total_carbo,
                        MIN(carbo) AS min_carbo,
                        MAX(carbo) AS max_carbo,
                        CAST(AVG(carbo) AS DECIMAL(10, 2)) AS mean_carbo,

                        SUM(vitamins) AS total_vitamins,
                        MIN(vitamins) AS min_vitamins,
                        MAX(vitamins) AS max_vitamins,
                        CAST(AVG(vitamins) AS DECIMAL(10, 2)) AS mean_vitamins,

                        COUNT(DISTINCT name) AS dist_qtd_name,
                        COUNT(name) AS qtd_name
                   FROM cereal
                   GROUP BY mfr, type
                   ORDER BY mfr, type
                ''')

cereal.show()

+---+----+----------+--------------+------------+------------+-------------+-----------+---------+---------+----------+--------------+------------+------------+-------------+-------------+--------+
|mfr|type|type_fruit|total_calories|min_calories|max_calories|mean_calories|total_carbo|min_carbo|max_carbo|mean_carbo|total_vitamins|min_vitamins|max_vitamins|mean_vitamins|dist_qtd_name|qtd_name|
+---+----+----------+--------------+------------+------------+-------------+-----------+---------+---------+----------+--------------+------------+------------+-------------+-------------+--------+
|  A|   H|   Abacaxi|           100|         100|         100|       100.00|       16.0|     16.0|     16.0|     16.00|            25|          25|          25|        25.00|            1|       1|
|  G|   C|    Goiaba|          2450|         100|         140|       111.36|      324.0|     10.5|     21.0|     14.73|           775|          25|         100|        35.23|           22|      22|
|  K|   C|      Kiwi|          2500|          50|         160|       108.70|      348.0|      7.0|     22.0|     15.13|           800|          25|         100|        34.78|           23|      23|
|  N|   C|   Morango|           420|          70|          90|        84.00|       75.0|      5.0|     20.0|     15.00|            50|           0|          25|        10.00|            5|       5|
|  N|   H|   Morango|           100|         100|         100|       100.00|       21.0|     21.0|     21.0|     21.00|             0|           0|           0|         0.00|            1|       1|
|  P|   C|      Pera|           980|          90|         120|       108.89|      119.0|     11.0|     17.0|     13.22|           225|          25|          25|        25.00|            9|       9|
|  Q|   C|    Banana|           660|          50|         120|        94.29|       81.0|      8.0|     14.0|     11.57|           100|           0|          25|        14.29|            7|       7|
|  Q|   H|    Banana|           100|         100|         100|       100.00|       -1.0|     -1.0|     -1.0|     -1.00|             0|           0|           0|         0.00|            1|       1|
|  R|   C|      Maca|           920|          90|         150|       115.00|      141.0|     14.0|     23.0|     17.63|           200|          25|          25|        25.00|            8|       8|
+---+----+----------+--------------+------------+------------+-------------+-----------+---------+---------+----------+--------------+------------+------------+-------------+-------------+--------+

# JOINs

## INNER